/* nav-inner */
.nav-inner .nav-container ul.nav-menu li:nth-child(2) {
  font-weight: 700;
}

.point-line {
  position: absolute;
  top: 8px;
  /* 높이만 수정 */
  left: 0;
}

/* content */
.bottom-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.bottom-content .password-box {
  width: 1200px;
  height: 450px;
  background-color: #fff;
  border-radius: 25px;
  border: 1px solid #919191;
  display: flex;
  /* 플렉스 박스 활성화 */
  flex-direction: column;
  /* 세로 방향으로 아이템 정렬 */
  justify-content: center;
  /* 수직 중앙 정렬 */
  align-items: flex-start;
  /* 좌측 정렬 유지 */
  margin-top: 10px;
  padding: 0 30px;
  position: relative;
  box-sizing: border-box;
}
.bottom-content .password-box form {
  position: absolute;
  top: 100px;
}
/* 부모 요소: 한 줄 정렬 및 수직 중앙 정렬 */
.mb-3.row {
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: flex-start; /* 좌측 정렬 */
  margin-bottom: 30px;
}

/* label 스타일 */
.col-form-label {
  flex: 0 0 150px; /* label 고정 너비 설정 */
  text-align: left; /* 텍스트 좌측 정렬 */
}

/* input 스타일 */
.form-control {
  flex: 1; /* 남은 공간을 모두 차지 */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
}
.member-btn {
  display: flex;
  left: 0px;
  bottom: -60px;
  position: absolute;
}

.member-btn a.btn {
  margin-right: 10px;
}